.vs/
.vscode/*.suo
.vscode/*.user

*.obj
*.pdb
*.ilk
*.exe
*.dll
*.so
*.lib
*.exp
Thumbs.db

/build/
/dist/
/runtime/
/server/
/steam/

upstream/ReGameDLL_CS/build/
upstream/ReGameDLL_CS/msvc/Debug/
upstream/ReGameDLL_CS/msvc/Release/
